$bgColor: linear-gradient(39.97deg, #ef2779 0.79%, #7834be 79.29%);
$white: #ffffff;
$pink: #ef2779;
$black: #18171d;
$blue: #38a3f1;
$lightBlack: #252b42;
$darkGrey: #374754;

$primaryFontRegular: "Roboto Regular";
$primaryFontBold: "Roboto Bold";
$primaryFontItalicBold: "Roboto ItalicBold";
$primaryFontItalic: "Roboto Italic";
$primaryFontMedium: "Roboto Medium";
