.home-section {
  @include flex-row;
  justify-content: space-around;

  background-repeat: round;
  padding-top: 195px;
  padding-bottom: 195px;

  .screen {
    position: relative;
    width: 50%;

    bottom: -250px;
    right: 6%;
  }
  .bg2 {
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: -40%;
  }
  .home-sectiom__content {
    @include flex-column;
    justify-content: flex-end;

    h1 {
      font-family: $primaryFontBold;
      font-weight: 900;
      font-size: 55px;
      line-height: 65px;
      letter-spacing: 0.2px;
      color: $white;
      width: 50%;
      margin-top: 300px;
    }
    p {
      font-family: $primaryFontMedium;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $white;
      width: 50%;
      padding-top: 27px;
      padding-bottom: 70px;
    }
    button {
      background: #ffffff;
      border-radius: 35px;

      padding: 16px 58px;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;

      text-align: center;
      letter-spacing: 0.1px;
      font-family: $primaryFontMedium;
      color: $blue;
      border: none;
      @include flex-column;
      align-items: flex-start;
      width: 236px;
      height: 65px;
    }
  }
}

@media (max-width: 1125px) {
  .home-section {
    @include flex-column;
    background-repeat: no-repeat;
    .screen {
      position: static;
    }
  }
}
