
.contacts
    h2 Contacts Us 
    h4 Most calendars are designed for teams. Slate is designed for freelancers
    .contacts-info 
        .contacts-form 
            input(class="input-name" type="text" placeholder="Your Name")
            input(class="input-email" type="text" placeholder="Your Email")
            p   
                textarea(class="input-messege" name="text" cols="30" rows="10" placeholder="Your messege")
            button Send 
        include ./contact.pug