.container
    .featuries 
        h3 At your fingertips
        h2 Features
        h4 Most calendars are designed for teams.<br> Slate is designed for freelancers
        .featuries-content 
            .featuries-content-section
                .featuries-content-title 
                    img(src="../img/icom.png", alt="")  
                    h3 The best products start with Sketch
                p Slate helps you see how many more days you need to work to reach your financial goal. 
            .featuries-content-section
                .featuries-content-title 
                    img(src="../img/second.png", alt="")  
                    h3 Fastest way to organize
                p Slate helps you see how many more days you need to work to reach your financial goal. 
            .featuries-content-section
                .featuries-content-title 
                    img(src="../img/third.png", alt="")  
                    h3 Work better together
                p Slate helps you see how many more days you need to work to reach your financial goal. 