.container
    .footer
        .footer-pages 
            h3 Pages
            ul 
                li 
                    a(href="#") Eleanor Edwards
                li 
                    a(href="#") Ted Robertson
                li 
                    a(href="#") Annette Russell
                li 
                    a(href="#") Jennie Mckinney
                li 
                    a(href="#") Gloria Richards
        .footer-map 
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1915.7550087196498!2d-149.47325198387242!3d61.30408468239281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x56c8ecfbb6a96f7f%3A0xeea4847d410dd276!2s6386%20Spring%20St!5e0!3m2!1sru!2sby!4v1626162046976!5m2!1sru!2sby" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        include ./contact.pug
