.container 
    .partners 
        h2 Partners
        h4 Most calendars are designed for teams. Slate is designed for freelancers
        .partners-descr 
            .partners-descr__card 
                p Client Name
                img(src="../img/logos_apiary.png", alt="")
                p.descr  Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            .partners-descr__card 
                p Client Name
                img(src="../img/logos_android-icon.png", alt="")
                p.descr Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            .partners-descr__card 
                p Client Name
                img(src="../img/logos_basecamp.png", alt="")
                p.descr  Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            .partners-descr__card 
                p Client Name
                img(src="../img/logos_basecamp.png", alt="")
                p.descr  Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            .partners-descr__card 
                p Client Name
                img(src="../img/logos_airbnb.png", alt="")
                p.descr  Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            .partners-descr__card 
                p Client Name
                img(src="../img/logos_apple-app-store.png", alt="")
                p.descr Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
        button.try_free Try For Free