.pricing
    h2 Pricing
    h4 Most calendars are designed for teams. Slate is designed for freelancers
    .pricing-cards 
        .pricing-card 
            h3 Free
            h5 Organize across all apps by hand
                .cost 
                    h1 0
                    .cost-text 
                        h3 $
                        h5 Per Month
            button.try_free Order Now
        .pricing-card 
            h3 STANDARD
            h5 Organize across all apps by hand
                .cost 
                    h1 10
                    .cost-text 
                        h3 $
                        h5 Per Month
            button.try_free Order Now
        .pricing-card 
            h3 BUSINESS
            h5 Organize across all apps by hand
                .cost 
                    h1 99
                    .cost-text 
                        h3 $
                        h5 Per Month
            button.try_free Order Now