.prototipe
    h2 Lightning fast <br> prototyping 
    h4 Most calendars are designed for teams.<br> Slate is designed for freelancers
    button.try_free Try For Free
    img(src="../img/@ Macbook Pro.png", alt="")