.subscribe  
    h3 At your fingertips
    h2.light Lightning fast prototyping 
    h2.light2 Newsletter 
    h3 Subscribe to our Newsletter
    p Available exclusivery on Figmaland
    input(type="text" placeholder="Your Email" )
    button Subscribe