.testimonials 
    h2 Testimonials
    img(src="../img/dropbox.png", alt="")
    h4 Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
    .testimonials_org 
        img(src="../img/Ellipse 2.png", alt="")
        .testimonials_org-descr
            h5 Organize across
            p Ui designer
    button.try_free More Testimonials            